<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>{% block title %}天天生鲜-用户中心{% endblock title %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/main.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
    {% block css %}{% endblock css %}
    {% block js %}{% endblock js %}
</head>
<body>
{% block header %}
    <div class="header_con">
        <div class="header">
            <div class="welcome fl">欢迎来到天天生鲜!</div>
            <div class="fr">
                {% if request.user.is_authenticated %}
                    <div class="login_info fl" style="display: block">
                        欢迎您：<em>{{ request.user.username }}</em>
                    </div>
                {% else %}
                    <div class="login_btn fl" style="display: block">
                        <a href="{% url 'user:login' %}">登录</a>
                        <span>|</span>
                        <a href="{% url 'user:register' %}">注册</a>
                    </div>
                {% endif %}
                <div class="user_link fl">
                    <span>|</span>
                    <a href="{% url 'user:user_center_info' %}?url_id=1">用户中心</a>
                    <span>|</span>
                    <a href="{% url 'shop_cart:my_cart' %}">我的购物车</a>
                    <span>|</span>
                    <a href="{% url 'user:user_center_order' %}?url_id=3">我的订单</a>
                    <span>|</span>
                    <a href="{% url 'user:logout' %}">注销</a>
                </div>
            </div>
        </div>
    </div>
{% endblock header %}

{% block content %}
{% endblock content %}
<div class="footer">
    <div class="foot_link">
        <a href="#">关于我们</a>
        <span>|</span>
        <a href="#">联系我们</a>
        <span>|</span>
        <a href="#">招聘人才</a>
        <span>|</span>
        <a href="#">友情链接</a>
    </div>
    <p>CopyRight © 2016 北京天天生鲜信息技术有限公司 All Rights Reserved</p>
    <p>电话：010-****888 京ICP备*******8号</p>
</div>

</body>
</html>`