{% extends 'base.html' %} {% block title %}天天生鲜-用户中心 {% endblock title %} {% block content %}
<div class="search_bar clearfix">
    <a href="{% url 'shop:index' %}" class="logo fl"><img src="{{STATIC_URL}}images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;{% block user_title %}用户中心{% endblock user_title %}</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="main_con clearfix">
    <div class="left_menu_con clearfix">
        <h3>用户中心</h3>
        <ul>
        <li><a href="{% url 'user:user_center_info' %}?url_id=1" {% if  url_id == "1" %} class="active" {% endif %}>· 个人信息</a></li>
        <li><a href="{% url 'user:user_center_order' %}?url_id=2" {% if  url_id == "2" %} class="active" {% endif %}>· 全部订单</a></li>
        <li><a href="{% url 'user:user_center_site' %}?url_id=3" {% if  url_id  == "3" %} class="active" {% endif %}>· 收货地址</a></li>
        </ul>
    </div>
    {% block user_content %} {% endblock user_content %}
</div>
{% endblock content %}